<ion-app>
  <ion-menu
    class="menuMobile"
    side="end"
    menuId="menuHistory"
    contentId="main-content"
    (ionDidOpen)="getHistoryData()"
    (ionWillClose)="this.menu.enable(false)"
  >
    <ion-content class="container" [fullscreen]="true">
      <ion-list>
        <ion-icon
          class="menuIcon"
          color="dark"
          (click)="closeMenu()"
          name="arrow-forward-outline"
        ></ion-icon>
        <ion-label class="titleHistory"><h2>Ações</h2></ion-label>
        <ion-item class="historyContainer">
          <ion-label color="dark" *ngFor="let registry of history"
            >{{ registry.message }}<br />
            {{ registry.hours }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-label>Modo Dark</ion-label>
          <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item><ion-title><ion-icon name="logo-github"></ion-icon><a href="https://github.com/gfr2003">@gu2003fr</a></ion-title></ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
