<ion-content [fullscreen]="true">
  <div id="container">
    <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
    <ion-buttons>
      <ion-button
        *ngIf="shortMode"
        class="modeButton"
        fill="outline"
        shape="round"
        color="dark"
        (click)="changeMode('long')"
      >
        Short Break
      </ion-button>
      <ion-button
        *ngIf="longMode"
        class="modeButton"
        fill="outline"
        shape="round"
        color="dark"
        (click)="changeMode('focus')"
      >
        Long Break
      </ion-button>
      <ion-button
        *ngIf="focusMode"
        class="modeButton"
        fill="outline"
        shape="round"
        color="dark"
        (click)="changeMode('short')"
      >
        Focus
      </ion-button>
    </ion-buttons>
    <ion-text class="clock"><span class="foo" #timer></span></ion-text>
    <div class="containerButtons">
      <ion-button color="darkBlue">
        <img
          *ngIf="!lightMode"
          src="../../assets/icon/sharp/white.svg"
          alt="sharps"
        />
        <img
          *ngIf="lightMode"
          src="../../assets/icon/sharp/blue.svg"
          alt="sharps"
        />
      </ion-button>
      <ion-button color="blue" class="playButton" (click)="startTimer()">
        <img
          *ngIf="!lightMode"
          class="logoPlay"
          src="../../assets/icon/playIcon/white.svg"
          alt="play"
        />
        <img
          *ngIf="lightMode"
          class="logoPlay"
          src="../../assets/icon/playIcon/blue.svg"
          alt="play"
        />
      </ion-button>
      <ion-button color="darkBlue" (click)="stopClock()">
        <img
          *ngIf="!lightMode"
          src="../../assets/icon/fastForward/white.svg"
          alt="fastForward"
        />
        <img
          *ngIf="lightMode"
          src="../../assets/icon/fastForward/blue.svg"
          alt="fastForward"
        />
      </ion-button>
    </div>
    <div class="toolsContainer"><ion-button color="dark" fill="outline"> Kanban Board</ion-button><ion-button color="dark" fill="outline"> Kanban Board</ion-button><ion-button color="dark" fill="outline"> Kanban Board</ion-button></div>
  </div>
</ion-content>
