<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button class="modeButton" fill="outline" shape="round" color="dark">
      <ion-icon name="cafe-outline"></ion-icon> Short Break
    </ion-button>
    <div class="clock"><span>0900</span></div>
    <div class="containerButtons">
      <ion-button color="darkBlue">
        <img src="../../assets/icon/sharp/white.svg" alt="sharps" />
        <img
          *ngIf="lightMode"
          src="../../assets/icon/sharp/blue.svg"
          alt="sharps"
        />
      </ion-button>
      <ion-button color="blue" class="playButton">
        <img
          class="logoPlay"
          src="../../assets/icon/playIcon/white.svg"
          alt="play"
        />
        <img
          *ngIf="lightMode"
          class="logoPlay"
          src="../../assets/icon/playIcon/blue.svg"
          alt="play"
        />
      </ion-button>
      <ion-button color="darkBlue">
        <img src="../../assets/icon/fastForward/white.svg" alt="fastForward" />
        <img
          *ngIf="lightMode"
          src="../../assets/icon/fastForward/blue.svg"
          alt="fastForward"
        />
      </ion-button>
    </div>
  </div>
</ion-content>