#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  .clock {
    display: flex;
    font-size: 256px;
    width: 295px;
    span {
      color: #cee8ff;
      word-break: break-all;
      text-align: center;
    }
  }
  .modeButton {
    float:left;
    font-weight: 500;
    font-size: 16px;
    height: 48px;
    width: 190px;
    img{
      padding-right: 10px;
    }
  }
  .containerButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    ion-button {
      margin-right: 8px;
      margin-left: 8px;
      width: 74px;
      height: 80px;
    }
    .playButton {
      width: 122px;
      height: 96px;
    }
  }
}
